<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototypeb">
    <uses-permission android:name="android.hardware.Camera"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name = "android.hardware.Camera" android:required = "true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrototypeB">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.game.Game_components.Game_adverbs"></activity>
        <activity android:name=".ui.game.Game_components.Game_pronoun"></activity>
        <activity android:name=".ui.game.Game_components.Game_numbers"></activity>
        <activity android:name=".ui.game.Game_components.Game_attachments"></activity>
        <activity android:name=".ui.game.Game_components.Game_alphabets"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Adverbs.No"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Adverbs.Yes"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Alphabets.A"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Alphabets.B"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Alphabets.C"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Alphabets.Y"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Attachments.Dislike"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Attachments.Like"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Attachments.ILoveYou"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Numbers.Num1"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Numbers.Num2"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Numbers.Num10"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Pronouns.Me"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Pronouns.You"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Topic.Adverbs"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Topic.Alphabets"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Topic.Attachments"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Topic.Numbers"></activity>
        <activity android:name=".ui.lesson.Lesson_components.Topic.Pronouns"></activity>
    </application>

</manifest>